<h2>News</h2>
<div style="height: calc(100vh - 240px); overflow: auto;" [formGroup]="form" novalidate>
  <ng-container *ngIf="loaded | async; else loading">
    <table>
      <tr *ngFor="let n of news"
          app-news-line [news]="n"
          (msgFeedBack)="onMsgFeedBack($event)"
          valign="top"
      ></tr>

    </table>
  </ng-container>
</div>

<ng-template #loading>
  <h3>Loading...</h3>
</ng-template>
