<td width="250px" nowrap>{{news.messageShort}}</td>
<td style="width: 100%">{{news.message}}</td>
<td>
  <a (click)="onFeedMsgBack(news.message)" [routerLink]="" >
    <mat-icon style="font-size: 18px; position: relative; top: 3px; margin-left: 3px;"
              matTooltip="Click me" matTooltipClass="tooltipClass"
    >info</mat-icon>
  </a>
</td>
