<header>
  <app-header></app-header>
</header>

<section>
  <nav>
    <app-navigation></app-navigation>
  </nav>

  <article>
    <router-outlet></router-outlet>
  </article>
</section>

<footer>
  <app-footer></app-footer>
</footer>
